/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.filter-button {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	border-color: #1D6154;
	margin: 0 10px;
	padding: 8px;
	width: auto;
	height: auto;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
  }
  
  .filter-button:hover {
	background-color: #1D6154;
	color: white;
  }
  
  #filters-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
  }

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



#loginForm {
	display: flex;
	flex-direction: column;
	align-items: center; 
	margin-bottom: 30px;
  }
 
  label {
	text-align: left;
	width: 379px; 
	margin-bottom: 5px; 
  }

  #username,
  #password {
	background-color: #FFFFFF;
	box-shadow: 0px 4px 14px 0px #00000017;
	width: 379px;
	margin: 20px;
	border: none;
	padding: 10px;
  }
  
  .login-container button {
	width: 30%;
	height: 51px;
	background-color: #1D6154;
	color: white;
	font-family: 'Syne';
	font-weight: 700;
	border: none;
	border-radius: 60px;
	cursor: pointer;
  }
  
  .login-container{
	margin: 110px;
  }
 
  .login-container p {
	margin-top: 10px;
	text-align: center;
  }
  
  .login-container p a {
	color: #1D6154;
	text-decoration: underline;
  }
  
  .login-container p a:hover {
	color: #B1663C;
  }
  
  .login-container h2 {
	text-align: center;
	margin-bottom: 70px;
  }

.login-link {
	all: unset;
}

.error-notification {
    margin: 10px; 
	color: red;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    text-align: center;
	border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#openModalBtn {
    all: unset;
	font-family: 'Work Sans';
	color: black;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
}


.thumbnail-container {
    position: relative;
    display: inline-block;
}

.thumbnail {
    display: block;
    width: 100%;
    height: auto;
}

.delete-button {
    position: absolute;
    top: 3px;
    right: 3px;
    background: black; 
    border: none;
    cursor: pointer;
    color: white; 
    padding: 5px;
	border-radius: 2px;
}




.modal-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	margin: 10%;
}


.modal-gallery > div {
    flex-basis: calc(20% - 10px); 
}

.modal-addPhoto {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	padding: 10px;
	cursor: pointer;
}

.modal-hr {
	width: 420px;
	height: 0px;
	border: 1px solid #B3B3B3;
	left: 510px;
	top: 1229px;
}

.modal-two {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.modal-two .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-two .return-modal-one {
    position: absolute;
    top: 10px;
    left: 10px; 
    font-size: 20px;
    cursor: pointer;
}

.modal-two-imgcontainer {
	background-color: #E8F1F6;
    display: flex;
	flex-direction: column;
    border-radius: 3px;
    padding: 10px; 
    box-sizing: border-box; 
	height: 170px;
}

.modal-two-form input[type="file"] {
	display: none;
}

.modal-two-icon {
	color: #B9C5CC;
	font-size: 80px;
}

.modal-two-textAddPhoto {
	color: #306685;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
	background: #CBD6DC;
	border: none;
	border-radius: 50px;
	max-height: 36px;
	max-width: 173px;
	padding: 10px 23px;
	text-align: center;
}

.modal-two-desc {
	color: #444444;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 10px;
	margin-bottom: 19px;
}

.modal-two-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	max-width: 420px;
	width: 95%;
}
.modal-two-form input {	
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modal-two-form select {
	background: white;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #6C6C6C;
	height: 51px;
}

/* Ajouter ces styles CSS à votre fichier */
.modal-two-imgcontainer {
    position: relative;
    
    max-width: 300px; /* Ajustez la largeur maximale selon vos besoins */
    margin: auto;
    overflow: hidden;
}

.modal-two-imgcontainer img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.modal-two-form input[type="submit"]{
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background: #A7A7A7;
	width: 237px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
}
.modal-two-form input[type="submit"].active {
	background: #1D6154;
}

#navEdition {
	align-items: center;
	background: black;
	gap: 21px;
	height: 59px;
	justify-content: center;
}

.modEdition {
	color: white;
	display: flex;
	padding: 20px;
	justify-content: center;
}

.modEdition .fa-regular {
	margin-right: 16px;
}


